/**************************************************/
/*GENERAL STYLE*/
/**************************************************/
*{
    box-sizing: border-box;
}

html{
    font-family: 'Lato', 'Arial', sans-serif;
    color: #555;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #ffffff;
}

.container-wrap{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

p{
    line-height: 145%;
}


/*Heading*/
h2,
h3 {
    text-transform: uppercase;
    font-weight: 100;
    word-spacing: 60%;
}

h2{
    margin:0;
}

h3{
    margin:0;
    padding-bottom: 25px;
}

.section-title{
    font-size: 200%; 
    text-align: center;
    padding-top: 60px;
}

.section-title:after{
    display: block;
    width: 10%;
    height: 2px;
    background-color: #e67e22;
    content: "";
    margin: 35px auto ;
}

/*Buttons*/
.btn {
    padding: 15px 25px;
    border-radius: 200px;
    margin-right: 15px;
    border: 1px solid #e67e22;
}

.btn-full {
    background-color: #e67e22;
    transition: background-color 0.2s;
}
.btn-full:hover {
    background-color: #ac5b14;
}

.btn-ghost {
    color: #e67e22;
    transition: color 0.2s, background-color 0.2s;
}
.btn-ghost:hover {
    background-color: #e67e22;
    color: #ffffff;
}

/**************************************************/
/*HEADER*/
/**************************************************/
header{
    height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url('../../vendors/img/hero.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.top-header,
.main-nav{
    display: flex;
}

.top-header{
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.bottom-header{
    position: absolute;
    top: calc((100vh/2) - 50px);
}

.bottom-header > h2 {
    color: #ffffff;
    font-size: 250%; 
    text-align: inherit;
    margin-bottom: 30px;
}

.logo{
    margin:0;
}

.logo img{
    width: 120px;
}



/*HEADER > NAVIGATION*/
nav{
    text-transform: uppercase;
}

.main-nav li{
    margin-left: 30px;
    letter-spacing: 1px;
}

.main-nav a{
    padding-bottom: 3px;
    transition: border 0.2s;
}

.main-nav a:hover{
    border-bottom: 2px solid #e67e22;
}

/**************************************************/
/*SECTION INTRO*/
/**************************************************/
.intro-p{
    width: 80%;
    margin: 0 auto;
    font-size: 120%;
}

.intro-containers{
    display: flex;
    margin-top: 50px;
}

.intro-containers .intro{
    width: calc(25%-50px);
    margin-right: 50px;
}

.intro-containers .intro:last-child{
    margin-right: 0;
}

.intro-containers p{
    margin-top: 0;
}

.intro ion-icon{
    color: #e67e22;
    font-size: 180%;
    padding-bottom: 15px;
}

.intro > p{
    font-size: 90%;
}

/**************************************************/
/*SECTION GALLERY*/
/**************************************************/
.section-gallery{
    margin-top: 90px;
    display: flex;
    flex-wrap: wrap;
}

.section-gallery .food-img{
    margin: 0;
    width: 25%;
    overflow: hidden;
    background-color: #000;
}

.section-gallery img{
    width: 100%;
    transform: scale(1.2);
    transition: transform 0.5s;
    opacity: 0.5;
}

.section-gallery img:hover{
    transform: scale(1.05);
    opacity: 1;
}

/**************************************************/
/*SECTION STEPS*/
/**************************************************/
.section-steps {
    background-color: #f4f4f4;
    padding-bottom: 90px;
}

.container-steps {
    display: flex;
    padding-top: 50px;
}


.container-steps-left img{
    width: 40%;
    float: right;
    margin-right: 80px;
}

.container-steps-right .order-steps{
    display: flex;
    align-items: center;
}

.order-steps > div {
    color: #e67e22;
    border-radius: 50%;
    border: 2px solid #e67e22;
    flex: 0 0 50px;
    height: 50px;
    text-align: center;
    line-height: 2.1;
    font-weight: 500;
    margin-right: 15px;
} 


.order-steps img{
    height: 60px;
    margin: 40px 10px 0 0;
}

